html
  head
    title VoIP Pong
    link(rel='stylesheet', href='/stylesheets/pong.css')
    script(src='/js/underscore-min.js')
    script(src='/js/‘jquery-1.12.4.min.js’')
    script(src='/js/pong.js')
    script(src='/socket.io/socket.io.js')
  body
    block content

