<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<title>Anthony's JavaScript Pong</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="jquery-1.2.3.pack.js"></script>
	<script type="text/javascript" src="jquery.dimensions.pack.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="header">
		<div class="score_container" id="player_score_container">You: <span id="player_score">0</span></div>
		<div class="score_container" id="computer_score_container">Computer (level <span id="computer_level"></span>): <span id="computer_score">0</span></div>
	</div>
	<div id="table">
		<div class="paddle"	id="player"></div>
		<div class="ball"	id="ball1"></div>
		<div class="paddle"	id="computer"></div>
		<div class="goal"	id="goal_player"></div>
		<div class="goal"	id="goal_computer"></div>
	</div>
	<div id="footer">
		Anthony Ryan-Loraine 2008 (<a href="mailto:anthonyryanlorraine@gmail.com">anthonyryanlorraine@gmail.com</a>) -  
		JavaScript coded in a few hours - Tested in IE7, FF2/3 &amp; Safari
		<!-- - <a href="JavaScript:;" id="viewSource">View source</a> -->
	</div>
</body>
</html>
